<!-- <ion-header>
  <ion-toolbar>
    <ion-title>alert</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="Volver" color="primary" mode="md" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<app-header title="alert"></app-header>

<ion-conten class="ion-paddding">
  <ion-button (click)=" presentAlert()" expand="block" >
    Alert
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()" expand="block" >
    Alert Multiple Buttons
  </ion-button>

  <ion-button (click)="presentAlertPrompt()" expand="block" >
    Alert Prompt
  </ion-button>
</ion-conten>

